<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Items</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.items %></td>
        <td><%= order.status %></td>
        <td><%= link_to_unless order.preparing?, 'Pay', edit_payment_path(order.payment) %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to_unless order.preparing?, 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
