<p id="notice"><%= notice %></p>

<p>
  <strong>Items:</strong>
  <%= @order.items %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to_unless @order.preparing?, 'Pay', edit_payment_path(@order.payment) %> |
<%= link_to_unless @order.preparing?, 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
