<p id="notice"><%= notice %></p>

<p>
  <strong>Card number:</strong>
  <%= @payment.card_number %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @payment.card_type %>
</p>

<p>
  <strong>Order:</strong>
  <%= @payment.order %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
